@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: #202124
    
} */

.preserve-whitespace {
  white-space: pre-wrap; /* Preserves white spaces and line breaks */
  word-wrap: break-word; /* Breaks long words if necessary */
  white-space: break-spaces;
}

/* Add this CSS to your global styles or a CSS module */
.content-editable-link a {
  color: blue;
  text-decoration: underline;
}

.content-editable {
  min-height: 100px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.image-viewer-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.image-viewer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 80vw;
  /* height: 80vh;
  width: 80vw; */
  /* position: absolute; */
  /* flex-direction: column; */
}

.image-viewer-img {
  max-height: 90% !important;
  max-width: 90% !important;
  cursor: grab;
  /* transform-origin: center; */
  /* max-height: 60% !important; */
  /* max-width: 60% !important; */
  /* width: auto !important; */
  /* height:auto !important; */
  /* min-height: 0%; */
  /* transition: transform 0.2s ease-in-out;
  z-index: 9999; */
}